:root {
    --clr-primary: #04b8e6;
    --clr-gray: #37474f;
    --clr-gray-light: #b0bec5;
}

* {
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    color: var(--clr-gray);
}

.wrapper-grid {
    margin: 5rem;
    display: grid;
    /* grid-template-columns:repeat(auto-fit,minmax(10rem,20rem)); */
    grid-template-columns: minmax(300px, 1fr);
    justify-content: center;
    grid-gap: 1rem;
}

.containerr {
    box-shadow: 0px 2px 8px 0px var(--clr-gray-light);
    text-align: center;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
}

.profile-img {
    width: 10rem;
    clip-path: circle(60px at center);
    margin-top: 0.3rem;
    margin-bottom: 1.5rem;
}
.newlink
{
    text-decoration: none;
    color:black;
}
.newlink:hover
{
    color:#03256C;
}

.name {
    font-size: 1.5rem;
}

.description {
    margin-bottom: 4rem;
    font-size: 0.9rem;
    margin-right: 2rem;
    margin-left: 2rem;
}

.btnn {
    width: 100%;
    border: none;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: var(--clr-primary);
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.btnn:hover {
    background-color: #FF6701 !important;
}

@media screen and (min-width: 500px) {
    .wrapper-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 760px) {
    .wrapper-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}